/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
h1{
  font-family: 'Anton';
  font-size: 16px;
}

p{
  text-align: justify;
}

#ramas{
   position: relative;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
p{
  font-family: 'Anton';
  font-size: 16px;
  text-align: justify ;
}
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.9); }

.top-nav-collapse {
  background-color: #fff; }

  .card-img-overlay {
      position: relative;
      max-width: 500px; //whatever your max-width should be
      color: #fff;

  }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1D1C63; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1D1C63; }
